$light-eggshell: #CAD2C5;
$light-2: #CCDBDC;
$light-green: #84A98C;
$middle-blue: #80CED7;
$robin-egg-blue: #9AD1D4;
$cerulean: #007EA7;
$pastel-green: #52796F;
$dark-green: #354F52;
$dark-green-blue: #2F3E46;
$prussian-blue: #003249;